@import "variables";


body {
    background: $blue;
    max-width: 100%;
    overflow-x: hidden;
    color: white;
    font-family: 'Poppins', sans-serif;
}
a {
    text-decoration: none;
}


#logo {
        text-decoration: none;
        color: white;
        font-size: 30px;
}

#logo:before {
    content: '[';
    color: white;
    margin-right: 5px;
    opacity: 0;
    display: inline-block;
    transition: transform 0.3s, opacity 0.2s;
}
#logo:after {
    content: ']';
    color: white;
    margin-left: 5px;
    opacity: 0;
    display: inline-block;
    transition: transform 0.3s, opacity 0.2s;
}
#logo:hover:after {
    opacity: 1;
    transform: translateX(10px);
}
#logo:hover:before {
    opacity: 1;
    transform: translateX(-10px);
}

.stagiair_header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 25px;
    margin-bottom: 50px;
    margin-left: 75px;
}



nav {
    display: flex;
    margin-right: 150px;
    margin-top: 20px;
    a{
        color: white;
        text-decoration: none;
        margin-left: 50px;
        position: relative;
    }
   
    a:hover {
        text-decoration: none;
        color: white;
    }
    a:hover:after {
        display: block;
        content: '';
        width: 100%;
        height: 2px;
        background: white;
        position: absolute;
        bottom: -10px;
        left: 0;
    }
    .iconprofile{
        display: inline-block;
        width: 15px;
        height: 18px;
        margin-right: 3px;
        text-align: right;
        background-image: url(../../assets/user.png);
        background-repeat: no-repeat;
        background-size: 15px;
        background-position: 0px 3px;

    }
}
.btn {
    width: 200px;
    background: white;
    color: $blue;
}
//home

.home {
    position: absolute;
    top: 25%;
    left: 100px;
    display: flex;
    flex-direction: column;
    width: 50%;
    p {
        width: 75%;
    }
}

h1 {
    font-size: 70px;
    font-weight: bold;
}

h2 {
    margin-top: 10px;
}

.btn--stage{
    margin-top: 50px;
    margin-bottom: 50px;
}

//login and register

.login {
    background: white;
    color: black;
    text-align: center;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    h2 {
        font-weight: bold;
        margin-bottom: 50px;
    }
    input, .check {
        background: darken($color: white, $amount: 8%);
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
    }
   .check {
       background: none;
   }
   .form-check {
    padding-left: 0;
}
}

.form-group {
    text-align: left;
    small {
        text-align: center;
        margin-top: -20px;
    }
}
.register label {
    width: 60%;
    margin-left: 15%;
}

.btn--login{
    color: white;
    background: $blue;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 20px;
}

.switch {
    position: absolute;
    top: 50px;
    right: 50px;
}

//profile

.myInfo {
    
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    h2 {
        font-family: 'Poppins', sans-serif;
        font-size: 60px;
        margin-top: 0;
    }
}

.info__container{
    display: flex;
    
}

.myInfo__info {
    margin-left: 30px;
    .school {
        font-size: 20px;
        color: lighten($color: black, $amount: 20%);
        font-style: italic;
    }
}

.headOfInfo {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    a {
        color: black;
        font-size: 20px;
        margin-right: 30px;
    }
    a:hover{
        font-size: 25px;
    }
}

// alle stages
.internships {
    margin: 50px 0;
    padding: 5px;
}
.intern_grid {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.reviews {
    margin: 20px 0;
}

// 1 item van een stage
.internship, .review {
    display: block;
    min-height: 200px;
    width: 800px;
    text-decoration: none;
    color: white;
    border: 4px solid whitesmoke;
    padding: 5px;
    margin-bottom: 10px;
    width: 45%;
}

.internship:hover, .review:hover {
    background-color: $grey;
    text-decoration: none;
    color: $blue;
    border: 4px solid $blue;
}

.review {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.review p:nth-child(1) {
    grid-area: 1 / 1 / 2 / 2;
}

.review p:nth-child(2) {
    grid-area: 1 / 2 / 2 / 3;
}

.review p:nth-child(3) {
    grid-area: 1 / 3 / 2 / 4;
}

.review p:nth-child(4) {
    grid-area: 2 / 1 / 3 / 4;
}

h4 {
    display: block;
    margin: 0px;
    float: left;
    margin: 0 50px 0 0;
    text-align: center;
    padding: 17px;
    
}

// STAGE TEASERS

// title van de stage in de index
#titleTeaser {
    font-size: 20px;
}

// bedrijf van de stage in de index
#companyTeaser {
    margin: 3px 0;
    font-size: 17px;
    border-left: 2px solid white;
}


// samenvating van de stage in de index
#descriptionTeaser {
    float: left;
    padding: 17px;
}

// arrow
i {
    border: solid white;
    border-width: 0 3px 3px 0;
    padding: 3px;
    margin: 27px;
    float: right;
}
  
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

h3 {
    margin-top: 30px;
    color: #383838;
}

.input-group {
    width: 70%;
}


// STAGE DETAILS

.internship_details {
    background-color: white;
    color: $blue;
    padding: 50px;
    box-shadow: 0px 20px 40px rgb(91, 94, 131);
    border-radius: 10px;
    p {
        color: black;
    }
    margin-bottom: 50px;
}

.internship_details h3 {
    color: $blue;
    font-weight: bolder;
    border-top: 3px solid rgb(231, 229, 238);
    margin-top: 50px;
    padding-top: 20px;
    
}

.internship_details a {
    background-color: $blue;
    color: white;
    border: none;
    margin-top: 30px;
}

.filter {
    background: white;
    padding: 25px;
    margin-bottom: 20px;
    color: black;
}

//search bar 

.search {
    margin-top: 50px;
    margin-left: 5px;
    margin-right: 5px;
    div {
        width: 100%;
        input {
            margin-right: 200px;
        }
    }
}

#search_field {
    border-radius: 4px;
}


// versturen van internship id via hidden p
.hiddenInternship_id {
    visibility: hidden;
    width: 0px;
}

.active {
    text-decoration: underline;
    color: black;
    font-size: 20px;
    span {
        color: blue;
        font-size: 16px;
    }
}







.illustration{
    width: 500px;
    position: absolute;
    right: 6%;
    top: 32%;
}

.illustration img{
    width: 500px;   
}

#social_icon {
    border: none;
}
.social_vue {
    display: flex;
    align-items: center;
    color: white;
    a {
        color: white;
    }
    i, div i {
        font-size: 40px;
    }
    .input_social {
        border-radius: 4px;
        input {
            margin-bottom: 10px;
        }
    }
} 


.applications {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 75%;
}

.applications_buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.applications_buttons form {
    margin-top: -40px;
}

.applications_buttons .btn-accept {
    color: green;
    border: 1px solid green;
    background-color: white;
    transition: all .3s ease;
}

.applications_buttons .btn-alert {
    color: red;
    border: 1px solid red;
    background-color: white;
    transition: all .3s ease;
}

.applications_buttons .btn-accept:hover {
    background-color: green;
    color: white;
}

.applications_buttons .btn-alert:hover {
    background-color: red;
    color: white;


@media only screen and (max-width: 1150px) {

    .illustration{
        display: none;
    }

}
}