@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap);@import url(https://fonts.googleapis.com/css?family=Poppins&display=swap);body {
  background: #6392ED;
  max-width: 100%;
  overflow-x: hidden;
  color: white;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

#logo {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.stagiair_header {
  display: -webkit-box;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
          justify-content: space-between;
  margin-top: 25px;
  margin-bottom: 50px;
  margin-left: 75px;
}

nav {
  display: -webkit-box;
  display: flex;
  margin-right: 150px;
  margin-top: 20px;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 50px;
  position: relative;
}

nav a:hover {
  text-decoration: none;
  color: white;
}

nav a:hover:after {
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  background: white;
  position: absolute;
  bottom: -10px;
  left: 0;
}

nav .iconprofile {
  width: 160px;
  text-align: right;
  background-image: url(/images/user.png?af45648e4a492d0dc4ff63bb77e85173);
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: 0px 3px;
}

.btn {
  width: 200px;
  background: white;
  color: #6392ED;
}

.home {
  margin-top: 100px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  width: 70%;
}

.home p {
  width: 75%;
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

h2 {
  margin-top: 10px;
}

.btn--stage {
  margin-top: 50px;
  margin-bottom: 50px;
}

.login {
  background: white;
  color: black;
  text-align: center;
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
}

.login h2 {
  font-weight: bold;
  margin-bottom: 50px;
}

.login input,
.login .check {
  background: #ebebeb;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.login .check {
  background: none;
}

.login .form-check {
  padding-left: 0;
}

.form-group {
  text-align: left;
}

.form-group small {
  text-align: center;
  margin-top: -20px;
}

.register label {
  width: 60%;
  margin-left: 15%;
}

.btn--login {
  color: white;
  background: #6392ED;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 20px;
}

.switch {
  position: absolute;
  top: 50px;
  right: 50px;
}

.myInfo {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
}

.myInfo h2 {
  font-family: "Poppins", sans-serif;
  font-size: 60px;
  margin-top: 0;
}

.info__container {
  display: -webkit-box;
  display: flex;
}

.myInfo__info {
  margin-left: 30px;
}

.myInfo__info .school {
  font-size: 20px;
  color: #333333;
  font-style: italic;
}

.headOfInfo {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
          align-items: baseline;
}

.headOfInfo a {
  color: black;
  font-size: 20px;
  margin-right: 30px;
}

.headOfInfo a:hover {
  font-size: 25px;
}

.internships {
  margin: 50px 0;
  padding: 5px;
}

.internship {
  display: block;
  width: 800px;
  text-decoration: none;
  color: white;
  border: 4px solid whitesmoke;
  padding: 5px;
}

.internship:hover {
  background-color: #fcfcfc;
  text-decoration: none;
  color: black;
  border: 4px solid #6392ED;
}

h4 {
  display: block;
  margin: 0px;
  float: left;
  margin: 0 50px 0 0;
  text-align: center;
  padding: 17px;
}

#titleTeaser {
  font-size: 20px;
}

#companyTeaser {
  margin: 3px 0;
  font-size: 17px;
  border-left: 2px solid white;
}

#descriptionTeaser {
  float: left;
  padding: 17px;
}

i {
  border: solid white;
  border-width: 0 3px 3px 0;
  padding: 3px;
  margin: 27px;
  float: right;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

h3 {
  margin-top: 30px;
  color: #383838;
}

.input-group {
  width: 70%;
}

.internship_details {
  background-color: white;
  color: #6392ED;
  padding: 50px;
  box-shadow: 0px 20px 40px #5b5e83;
  border-radius: 10px;
}

.internship_details h3 {
  color: #6392ED;
  font-weight: bolder;
  border-top: 3px solid #e7e5ee;
  margin-top: 50px;
  padding-top: 20px;
}

.internship_details a {
  background-color: #6392ED;
  color: white;
  border: none;
  margin-top: 30px;
}

