@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap);@import url(https://fonts.googleapis.com/css?family=Poppins&display=swap);body {
  background: #6392ED;
  max-width: 100%;
  overflow-x: hidden;
  color: white;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

#logo {
  text-decoration: none;
  color: white;
  font-size: 30px;
}

#logo:before {
  content: "[";
  color: white;
  margin-right: 5px;
  opacity: 0;
  display: inline-block;
  -webkit-transition: opacity 0.2s, -webkit-transform 0.3s;
  transition: opacity 0.2s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s, -webkit-transform 0.3s;
}

#logo:after {
  content: "]";
  color: white;
  margin-left: 5px;
  opacity: 0;
  display: inline-block;
  -webkit-transition: opacity 0.2s, -webkit-transform 0.3s;
  transition: opacity 0.2s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s, -webkit-transform 0.3s;
}

#logo:hover:after {
  opacity: 1;
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

#logo:hover:before {
  opacity: 1;
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
}

.stagiair_header {
  display: -webkit-box;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
          justify-content: space-between;
  margin-top: 25px;
  margin-bottom: 50px;
  margin-left: 75px;
}

nav {
  display: -webkit-box;
  display: flex;
  margin-right: 150px;
  margin-top: 20px;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 50px;
  position: relative;
}

nav a:hover {
  text-decoration: none;
  color: white;
}

nav a:hover:after {
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  background: white;
  position: absolute;
  bottom: -10px;
  left: 0;
}

nav .iconprofile {
  display: inline-block;
  width: 15px;
  height: 18px;
  margin-right: 3px;
  text-align: right;
  background-image: url(/images/user.png?af45648e4a492d0dc4ff63bb77e85173);
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: 0px 3px;
}

.btn {
  width: 200px;
  background: white;
  color: #6392ED;
}

.home {
  position: absolute;
  top: 25%;
  left: 100px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  width: 50%;
}

.home p {
  width: 75%;
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

h2 {
  margin-top: 10px;
}

.btn--stage {
  margin-top: 50px;
  margin-bottom: 50px;
}

.login {
  background: white;
  color: black;
  text-align: center;
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
}

.login h2 {
  font-weight: bold;
  margin-bottom: 50px;
}

.login input,
.login .check {
  background: #ebebeb;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.login .check {
  background: none;
}

.login .form-check {
  padding-left: 0;
}

.form-group {
  text-align: left;
}

.form-group small {
  text-align: center;
  margin-top: -20px;
}

.register label {
  width: 60%;
  margin-left: 15%;
}

.btn--login {
  color: white;
  background: #6392ED;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 20px;
}

.switch {
  position: absolute;
  top: 50px;
  right: 50px;
}

.myInfo {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
}

.myInfo h2 {
  font-family: "Poppins", sans-serif;
  font-size: 60px;
  margin-top: 0;
}

.info__container {
  display: -webkit-box;
  display: flex;
}

.myInfo__info {
  margin-left: 30px;
}

.myInfo__info .school {
  font-size: 20px;
  color: #333333;
  font-style: italic;
}

.headOfInfo {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
          align-items: baseline;
}

.headOfInfo a {
  color: black;
  font-size: 20px;
  margin-right: 30px;
}

.headOfInfo a:hover {
  font-size: 25px;
}

.internships {
  margin: 50px 0;
  padding: 5px;
}

.intern_grid {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.reviews {
  margin: 20px 0;
}

.internship,
.review {
  display: block;
  min-height: 200px;
  width: 800px;
  text-decoration: none;
  color: white;
  border: 4px solid whitesmoke;
  padding: 5px;
  margin-bottom: 10px;
  width: 45%;
}

.internship:hover,
.review:hover {
  background-color: #fcfcfc;
  text-decoration: none;
  color: #6392ED;
  border: 4px solid #6392ED;
}

.review {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.review p:nth-child(1) {
  grid-area: 1/1/2/2;
}

.review p:nth-child(2) {
  grid-area: 1/2/2/3;
}

.review p:nth-child(3) {
  grid-area: 1/3/2/4;
}

.review p:nth-child(4) {
  grid-area: 2/1/3/4;
}

h4 {
  display: block;
  margin: 0px;
  float: left;
  margin: 0 50px 0 0;
  text-align: center;
  padding: 17px;
}

#titleTeaser {
  font-size: 20px;
}

#companyTeaser {
  margin: 3px 0;
  font-size: 17px;
  border-left: 2px solid white;
}

#descriptionTeaser {
  float: left;
  padding: 17px;
}

i {
  border: solid white;
  border-width: 0 3px 3px 0;
  padding: 3px;
  margin: 27px;
  float: right;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

h3 {
  margin-top: 30px;
  color: #383838;
}

.input-group {
  width: 70%;
}

.internship_details {
  background-color: white;
  color: #6392ED;
  padding: 50px;
  box-shadow: 0px 20px 40px #5b5e83;
  border-radius: 10px;
  margin-bottom: 50px;
}

.internship_details p {
  color: black;
}

.internship_details h3 {
  color: #6392ED;
  font-weight: bolder;
  border-top: 3px solid #e7e5ee;
  margin-top: 50px;
  padding-top: 20px;
}

.internship_details a {
  background-color: #6392ED;
  color: white;
  border: none;
  margin-top: 30px;
}

.filter {
  background: white;
  padding: 25px;
  margin-bottom: 20px;
  color: black;
}

.search {
  margin-top: 50px;
  margin-left: 5px;
  margin-right: 5px;
}

.search div {
  width: 100%;
}

.search div input {
  margin-right: 200px;
}

#search_field {
  border-radius: 4px;
}

.hiddenInternship_id {
  visibility: hidden;
  width: 0px;
}

.active {
  text-decoration: underline;
  color: black;
  font-size: 20px;
}

.active span {
  color: blue;
  font-size: 16px;
}

.illustration {
  width: 500px;
  position: absolute;
  right: 6%;
  top: 32%;
}

.illustration img {
  width: 500px;
}

<<<<<<< HEAD
#social_icon {
  border: none;
}

@media only screen and (max-width: 1150px) {
  .illustration {
    display: none;
  }
||||||| merged common ancestors
@media only screen and (max-width: 1150px) {
  .illustration {
    display: none;
  }
=======
=======
>>>>>>> feature/internconfirm
.applications {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
          justify-content: space-between;
  width: 75%;
}
=======
.applications {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
          justify-content: space-between;
  width: 75%;
}
>>>>>>> f548c5453c6425c723ffb4135f537b9d791c9888

  .applications {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
            justify-content: space-between;
    width: 75%;
  }

  .applications_buttons {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
            justify-content: space-between;
  }

  .applications_buttons form {
    margin-top: -40px;
  }

  .applications_buttons .btn-accept {
    color: green;
    border: 1px solid green;
    background-color: white;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .applications_buttons .btn-alert {
    color: red;
    border: 1px solid red;
    background-color: white;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

<<<<<<< HEAD
  .applications_buttons .btn-accept:hover {
    background-color: green;
    color: white;
  }

  .applications_buttons .btn-alert:hover {
    background-color: red;
    color: white;
  }

  .applications_buttons .btn-alert:hover .active {
    text-decoration: underline;
    color: black;
    font-size: 20px;
  }

  .applications_buttons .btn-alert:hover .active span {
    color: blue;
    font-size: 16px;
  }

  .applications_buttons .btn-alert:hover .illustration {
    width: 500px;
    position: absolute;
    right: 6%;
    top: 32%;
  }

  .applications_buttons .btn-alert:hover .illustration img {
    width: 500px;
  }
||||||| merged common ancestors
.applications_buttons .btn-alert:hover {
  background-color: red;
  color: white;
<<<<<<< HEAD
>>>>>>> feature/internconfirm
=======
=======
.active {
  text-decoration: underline;
  color: black;
  font-size: 20px;
}

.active span {
  color: blue;
  font-size: 16px;
}

.illustration {
  width: 500px;
  position: absolute;
  right: 6%;
  top: 32%;
}

.illustration img {
  width: 500px;
=======
.applications_buttons .btn-alert:hover {
  background-color: red;
  color: white;
>>>>>>> f548c5453c6425c723ffb4135f537b9d791c9888
}

<<<<<<< HEAD
@media only screen and (max-width: 1150px) and (max-width: 1150px) {
  .illustration {
||||||| merged common ancestors
@media only screen and (max-width: 1150px) {
  .illustration {
=======
@media only screen and (max-width: 1150px) {
  .applications_buttons .btn-alert:hover .illustration {
>>>>>>> f548c5453c6425c723ffb4135f537b9d791c9888
    display: none;
  }
}

